#ignore all files
*
!*/

vendor/
t2-output/
target/
zig-cache/
tags/
.idea/

#except the following files
!.gitignore
!.clang-format
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.pl

!*.go

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment

!*.mold
!*.sc
!*.diagram

!*.ini
!*.bat


